.mdl-menu-share {
  position: absolute;
  list-style: none;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  padding: 8px 0;
  opacity: 1;
  z-index: -1;
}

.mdl-menu-share .mdl-menu-share--bottom-right {
  left: auto;
  right: 0
}

.mdl-menu__container.is-visible .mdl-menu__outline {
  display: none;
}